<!doctype html>
<html>

	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="/Application/Wap/View/default/Weixin/static/index.css" />
		<meta name="" content="" id="pixclPatio" />
		<title>绑定账号</title>
		<script>
			function setSize(){
				var pixclPatio = 1 / window.devicePixelRatio;
				var htmlPixclPatio = document.getElementById('pixclPatio');
				htmlPixclPatio.innerHTML = '<meta name="viewport" content="width=device-width,initial-scale=' + pixclPatio + ',minimum-scale=' + pixclPatio + ',maximum-scale=' + pixclPatio + ',user-scalable=no" />'
				pixclPatio = 1 / window.devicePixelRatio;
				var html = document.getElementsByTagName('html')[0];
				var pageWidth = html.getBoundingClientRect().width;
				html.style.fontSize = pageWidth / 16 + 'px';
				if(parseInt(html.style.fontSize) > 96) {
					html.style.fontSize = 96 + 'px'
				}
			}
			setSize()
			window.addEventListener("resize", setSize, false);
		</script>
		<script src="/Application/Wap/View/default/Weixin/static/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/Application/Wap/View/default/Weixin/static/iscroll.js"></script>
		<script src="/Application/Wap/View/default/Weixin/static/jquery.min.js"></script>
		<script type="text/javascript">
			var myScroll;
			function loaded() {
				myScroll = new IScroll('#wrapper', {
					mouseWheel: true,
					click:true
				});
			}
			document.addEventListener('touchmove', function(e) {
				e.preventDefault();
			}, false);
		</script>
		<!--调用滚动-->
		<script>
			$(function() {
				loaded()
			})
		</script>
		
	</head>
	<body>
		<div id="wrapper">
			<div id="scroller">
				<div class="mark">
					<div class="login_box">
						<h3  id="title">账户绑定</h3>
						<if condition="$id eq 'ok'">
							<div style="padding: 30px;">
								<span style='color: red;'>已经绑定，如需解绑，请联系系统管理员！</span>
							</div>
							<else/>
							<div id="input-box">
								<input type="text" id="mobile"/>
								<input type="password" class="pw"  id="pwd">
								<button class="btn" onclick="submit()">绑定</button>
							</div>
							<div id="status" style="display: none;padding: 30px;">帮定中...</div>
						</if>
					</div>
				</div>			
			</div>
		</div>
		
	</body>
<script type="text/javascript">
			$(function(){
				$("input").on("focus",function(){
					$(".login_box").css({"marginTop":"0"})
				}).on("blur",function(){
					$(".login_box").css({"marginTop":"6.25rem"})
				})
			})
	function submit(){
		$('#input-box').hide();
		$('#status').show();
		$.ajax({
			type: "POST",
			url: "{:U('Weixin/savebind',array('openid'=>$openid))}",
			data: {'mobile':$('#mobile').val(),'pwd':$('#pwd').val()},
			success: function(data){
				data=$.parseJSON(data);
				if(data.code==1) //成
				{
					$('#status').html("<span style='color: red;'>绑定成功！，请关闭本页面，进行其他操作！</span>");
				}else{
					$('#status').html("<span style='color: red;'>"+data.msg+"</span>");
					setTimeout(function () {
						$('#input-box').show();
						$('#status').hide();
					},4000);
				}
			}
		})
	}
</script>
</html>



























