<extend name="Base/common"/>

<block name="body">

	<switch name="profile_group_id">
		<case value="$Think.const.WEIYUAN">
			<include file="Config/expandinfo"/>
		</case>
		<case value="$Think.const.UNIT">
			<include file="Config/expandinfo_dw"/>
		</case>
		<case value="$Think.const.TEAM">
			<include file="Config/expandinfo_team"/>
		</case>
		<case value="$Think.const.ZWHXX">
			<include file="Config/expandinfo_zwhxx"/>
		</case>
		<case value="$Think.const.DCS">
			<include file="Config/expandinfo_dcs"/>
		</case>
		<case value="$Think.const.MSZ">
			<include file="Config/expandinfo_msz"/>
		</case>
		<case value="$Think.const.ZXGZRY">
			<include file="Config/expandinfo_zxgzry"/>
		</case>
	</switch>
</block>