<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>政协委员履职平台</title>
    <link rel="stylesheet" href="__PUBLIC__/Wap/frozenui/css/frozen.css">
    <link rel="stylesheet" href="__PUBLIC__/Wap/css/css.css">
    <script src="__PUBLIC__/Wap/frozenui/lib/zepto.min.js"></script>
    <script src="__PUBLIC__/Wap/frozenui/js/frozen.js"></script>
</head>

<body ontouchstart="">
    <header class="ui-header ui-header-positive ui-border-b">
        <i class="ui-icon-return" onclick="history.back()"></i>
        <h1>提案撰写</h1>
        <button class="ui-btn">回首页</button>
    </header>
    <section class="ui-container">
        <table class="ui-table ui-border ui-table2">
            <tbody>
                <tr>
                    <td>
                        提出期间
                    </td>
                    <td>
                        <p>2016-09-09</p>
                    </td>
                </tr>
                <tr>
                    <td>提出日期</td>
                    <td>
                        <p>会议时间</p>
                    </td>
                </tr>
                <tr>
                    <td> 类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型</td>
                    <td>
                        <p style="">委&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;员</p>
                    </td>
                </tr>
                <tr>
                    <td> 人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td> 提案类型</td>
                    <td>
                        <select name="" id="" >
                            <option value="">经济发展类</option>
                            <option value="">经济发展类</option>
                            <option value="">经济发展类</option>
                            <option value="">经济发展类</option>
                            <option value="">经济发展类</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> 案&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由</td>
                    <td>
                        <input value="" type="text" placeholder="搜索案由" autocapitalize="off" class="T_input">
                        <button class="ui-btn ui-btn-primary ui-btn-s" id="searchbtn">
                            确定
                        </button>
                    </td>
                </tr>
                <tr>
                    <td> 内&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;容</td>
                    <td>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </td>
                </tr>
                <tr>
                    <td> 附&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;件</td>
                    <td>
                        <button class="ui-btn ui-btn-primary">
                            上传附件
                        </button>
                    </td>
                </tr>
                <tr>
                    <td> 提&nbsp;&nbsp;案&nbsp;&nbsp;人</td>
                    <td>
                        <input value="" type="text"  autocapitalize="off" class="T_input">
                    </td>
                </tr>
                <tr>
                    <td> 联&nbsp;&nbsp;系&nbsp;&nbsp;人</td>
                    <td>
                        <input value="" type="text"  autocapitalize="off" class="T_input">
                    </td>
                </tr>
                <tr>
                    <td> 联系单位</td>
                    <td>
                        <input value="" type="text"  autocapitalize="off" class="T_input">
                    </td>
                </tr>
                <tr>
                    <td> 是否公开</td>
                    <td>
                        <p style="width: 50%;display: inline;">
                            <label class="ui-radio" for="radio">
                                <input type="radio" name="radio">公开
                            </label>
                        </p>
                        <p style="width: 50%;display: inline;">
                            <label class="ui-radio" for="radio">
                                <input type="radio" checked name="radio">不公开
                            </label>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="ui-btn ui-btn-primary">
                            保存
                        </button>
                        <button class="ui-btn ui-btn-primary">
                            直接提交
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    
    <div class="ui-dialog">
    <div class="ui-dialog-cnt">
      <header class="ui-dialog-hd ui-border-b">
                  <h3>搜索结果</h3>
                  <i class="ui-dialog-close" data-role="button"></i>
              </header>
        <div class="ui-dialog-bd">
  
           <table  class="ui-table ui-border" id="searchtable">
           	<tr><th>提出日期</th><th>案由</th></tr>
           	<tr><td><p class="time">2016-09-05</p></td><td>
           		<p class="searchtit">第十三届第一次会议</p>
           		</td></tr>
           	<tr><td><p class="time">2016-09-05</p></td><td><p class="searchtit">第十三届第一次会议</p></td></tr>
           	<tr><td><p class="time">2016-09-05</p></td><td><p class="searchtit">第十三届第一次会议</p></td></tr>
           	<tr><td><p class="time">2016-09-05</p></td><td><p class="searchtit">第十三届十三届十三届第一次会议</p></td></tr>
           </table>
        </div>
        <div class="ui-dialog-ft">
            <button type="button" data-role="button">取消</button>
            <button type="button" data-role="button">确定</button>
        </div>
    </div>        
</div>
<script class="demo-script">
$(function(){
	$("#searchbtn").click(function(){
		$(".ui-dialog").dialog("show");
	})
})

</script>

    <script>
    (function() {
    	
    	
    	
    	
        var tab = new fz.Scroll('.ui-tab', {
            role: 'tab',
            autoplay: true,
            interval: 3000
        });
        /* 滑动开始前 */
        tab.on('beforeScrollStart', function(fromIndex, toIndex) {
            console.log(fromIndex, toIndex); // from 为当前页，to 为下一页
        })
    })();
    </script>
    
</body>

</html>
