<title>江汉区政协委员履职管理与服务信息系统</title>
 <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- LXUI -->
    <link rel="stylesheet" href="__STATIC__/zx/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/zx/css/admin.css" />
    <link rel="shortcut icon" href="__STATIC__/zx/img/favicon.png" />
    <link rel="bookmark" href="__STATIC__/zx/img/favicon.png" />
    <!-- jQuery -->
<script src="__STATIC__/umeditor/third-party/jquery.min.js"></script>
    <script src="__STATIC__/zx/js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
    <script src="__STATIC__/zx/js/admin.js" type="text/javascript" charset="utf-8"></script>
	    <!-- <script src="js/getting-started.js"></script> -->

<link rel="stylesheet" type="text/css" href="/Public/static/zx/laydate/need/laydate.css"/>
<!-- 
 -->
<script src="/Public/static/zx/laydate/laydate.js"></script>


		
		
		
		
	