<extend name="Base/common"/>

<block name="body">
  <!--个人资料修改-->
  <div class="ar_content">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div id="tableWrap">
            <span><a href="{:U('Home/Search/export_list',$map)}"  class="text_derection">导出提案</a></span>
            <hr style="margin: 5px">
            <form method="post" name="proposal_search" action="{:U('Home/Search/index',$map)}">
            <table border="0" cellspacing="" cellpadding="" style="margin-bottom: 10px;">
              <tr><th>
                <select name="type_id" class="form-control input-sm">
                <option disabled="" selected="" hidden="">--提案类别--</option>
                  <option value="">--请选择提案类别--</option>
                <volist name="tree" id="top">
                  <option value="{$top.id}" <eq name="map.type_id" value="$top.id">selected</eq> >
                    {$top.title}
                  </option>
                </volist>
              </select>
              </th>
                <th>
                  {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'author','',0,$map['author']))}

                </th>
                <th>
                  {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'code','',0,$map['code']))}
                </th>

                <th>
                  {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'title','',0,$map['title']))}
                </th>
                <th>
                  {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'meet','',0,$map['meet']))}



                </th>
                <if condition="$search_flag == 1">
                <th>  {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'zwh'))}</th>
                <th>  {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'jdllw'))}</th>
                <th>  {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'jiebie'))}</th>
                </if>
                <th><input size="16" type="text" value="{$map[sTime]}" name="sTime" id="sTime" readonly="" class="form-control laydate-icon" required="" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" placeholder="提出日期 起"></th>
                <th><input size="16" type="text" value="{$map[eTime]}" name="eTime" id="eTime" readonly="" class="form-control laydate-icon" required="" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" placeholder="提出日期 止"></th>
                <th><button class="btn btn-default btn-sm" >搜索</button></th>
              </tr>
            </table>
            </form>
            <table border="" cellspacing="" cellpadding="" class="table table-bordered">
              <tr><th>正式案号</th><th>提案类别</th><th>案由</th><th>提案人</th><th>联系电话</th><th>专委会</th><th>街道联络委</th><th>界别组</th><th>提出日期</th><th>是否联名</th><th>是否并案</th><th>办理单位</th><th>状态</th><th>操作</th></tr>
             <php>$status_config = C('PROPOSAL_STATUS');</php>
              <volist name="proposals" id="p">
              <tr><td>{$p.code}</td><td>{$p.type.title}</td><td>{$p.title}</td><td>{$p.author}</td><td>{$p.telephone}</td><td>{$p.zwh}</td><td>{$p.jdllw}</td><td>{$p.jiebie}</td><td>{$p.create_time|date='Y-m-d',###}</td><td><if condition="$p[is_joint]==0">否<else/>是</if></if></td><td><if condition="$p[is_merge]==0">否<else/>是</if></if></td><td>{$p.units}</td><td>{$status_config[$p[status]]}</td><td><a href="{:U('Home/Search/detail',array('id'=>$p['id']))}" class="btn btn-primary">查看详情</a></td></tr>
              </volist>
            </table>

            {:getPagination($totalPageCount,16)}
          </div>
        </div>
      </div>
    </div>

  </div>

</block>