<extend name="Base/common"/>
<block name="body">
    <div class="ar_content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="tableWrap">
                        <form action="" method="post" name="frm" id="formId">
                            <table class="table table-bordered table-responsive table-condensed" style="width: 1000px;">
                                <thead>
                                <tr>
                                    <th colspan="6">
                                        添加社情民意
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="col-sm-1">
                                        日期
                                    </td>
                                    <td class="col-sm-3">
                                        <input size="16" type="text" value="{:date('Y-m-d H:i:s',$content['time'])}" name="time" readonly="readonly" class="form_datetime form-control" required>
                                    </td>
                                    <td>
                                        作者
                                    </td>
                                    <td colspan="1" >
                                        {:W('Common/InputRender/InputRender',array('modelid'=>7,'name'=>'author','id'=>$content['id'],1,$name))}
                                    </td>
                                    <td class="col-sm-1">
                                        类别
                                    </td>
                                    <td class="col-sm-3">
                                        <select name="type_id" class="form-control input-sm" disabled>
                                            <volist name="tree" id="top">
                                                <option value="{$top.id}" >
                                                    {$top.title}
                                                </option>
                                            </volist>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        参与人员
                                    </td>
                                    <td colspan="5">
                                        {:W('Common/InputRender/InputRender',array('modelid'=>7,'name'=>'author','id'=>$content['id'],1))}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        标题
                                    </td>
                                    <td colspan="5">
                                        {:W('Common/InputRender/InputRender',array('modelid'=>7,'name'=>'title','id'=>$content['id'],1))}
                                    </td>


                                </tr>
                                <tr>
                                    <td>
                                        内容
                                    </td>
                                    <td colspan="5">
                                        {:W('Common/InputRender/InputRender',array('modelid'=>7,'name'=>'content','id'=>$content['id'],1))}

                                    </td>
                                </tr>

                                <tr>
                                    <td>附件</td>
                                  <td colspan="5">
                                        {:W('Common/InputRender/InputRender',array('modelid'=>7,'name'=>'upload','id'=>$content['id'],1))}
                                    </td>
                                </tr>

                                <tr>
                                    <td>采用情况</td>
                                    <td colspan="5">

                                        {:W('Common/InputRender/InputRender',array('modelid'=>7,'name'=>'adopt','id'=>$content['id'],1))}

                                    </td>
                                </tr>

                                <tr>
                                    <td>批示情况</td>
                                    <td colspan="5">
                                        {:W('Common/InputRender/InputRender',array('modelid'=>7,'name'=>'make','id'=>$content['id'],1))}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        退回意见
                                    </td>
                                    <td colspan="5">
                                        <textarea name="comments" rows="" cols="" placeholder="" class="form-control"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <if condition="get_permission(get_uid(),['政协工作人员'])">
                                                <a class="btn btn-default btn-sm" href="{:U('Polls/Index/index',array('status'=>2))}">返回</a>
                                                </if>
                                        <if condition="get_permission(get_uid(),['秘书长'])">

                                        <a class="btn btn-primary btn-sm btn-del"   href="javascript:;" >审核通过</a>
                                                <a class="btn btn-primary btn-sm btn-th" href="javascript:;" >退回</a>
                                                <a class="btn btn-default btn-sm" href="{:U('Polls/Index/index',array('status'=>3))}">返回</a>
                                            </if>

                                    </td>
                                </tr>
                                </tbody>
                                <!-- Small modal 通过审核-->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel"><font color="red">提示</font></h4>
                                            </div>
                                            <div class="modal-body">
                                                您确定此条民意通过审核吗？
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <a type="button" class="btn btn-primary btn-del-on" href="{:U('Polls/Index/detail_mangers',array('id'=>$content['id']))}">确定</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Small modal 通过审核-->
                                <!-- Small modal 退回-->
                                <div class="modal fade" id="myModall" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabell"><font color="red">提示</font></h4>
                                            </div>
                                            <div class="modal-body">
                                                您确定此条民意通过审核吗？
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <a type="button" class="btn btn-primary btn-del-on" href="{:U('Polls/Index/th',array('id'=>$content['id']))}">确定</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Small modal 通过审核-->
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!--   <script>
        $('#add').click(function(){
            var data = {
                'id':"{$content.id}",
                'time' : $('input[name=time]').val(),
                'author' : $('input[name=author]').val(),
                'type' : $('input[name=type]').val(),
                'title' : $('input[name=title]').val(),
                'upload':$('input[name=upload]').val(),
                'content' : $('textarea[name=content]').val(),
                'adopt' : $('input[name=adopt]').val(),
                'make' : $('input[name=make]').val(),
                'status' : 5
            };

            $.post('<?php echo U("Index/th");?>',data,function(msg){
                if(msg == 1 ){
                    alert('退回成功');
                    window.location.href ="{:U('Index/Index',array('status'=>3))}";
                }else{
                    alert('退回失败');
                }
            });
        });
    </script>
  -->
    <script type="text/javascript">
        $(function() {
            var deldate;
            //模态关闭的回调
            $('#myModall').on('hide.bs.modal', function() {
                // 执行一些动作...
            });
            $(".btn-th").click(function(e) {
                //e.preventDefault();
                $('#myModall').modal('show');
                deldate = $(this).closest("tr");

            });
        })
    </script>
    <script type="text/javascript">
        $(function() {
            var deldate;
            //模态关闭的回调
            $('#myModal').on('hide.bs.modal', function() {
                // 执行一些动作...
            });
            $(".btn-del").click(function(e) {
                //e.preventDefault();
                $('#myModal').modal('show');
                deldate = $(this).closest("tr");

            });
        })
    </script>
</block>