<extend name="Base/common"/>
<block name="body">
    <div class="ar_content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="tableWrap">
                        <form action="{:U('Working/Index/out',array('id'=>$working['id']))}" method="post" name="form_working" id="form_working">

                        <table class="table table-bordered table-responsive table-condensed" style="width: 1000px;">
                            <thead>
                            <tr>
                                <th colspan="6">
                                    工作动态
                                </th>
                            </tr>
                            </thead>
                            <php>
                                $htmlstatus_working = 1;
                                if(get_permission(get_uid(),['政协工作人员','秘书长'])){
                                  $htmlstatus_working = 0;
                                }

                            </php>
                            <tbody>
                            <tr>
                                <td  style="width: 100px">
                                    日期
                                </td>
                                <td>
                                    {:W('Common/InputRender/InputRender',array('modelid'=>15,'name'=>'time','id'=>$working['id'],1))}
                                </td>


                            </tr>


                            <tr>
                                <td>
                                    标题
                                </td>
                                <td colspan="5">
                                    {:W('Common/InputRender/InputRender',array('modelid'=>15,'name'=>'title','id'=>$working['id'],$htmlstatus_working))}
                                </td>


                            </tr>
                            <tr>
                                <td>
                                    内容
                                </td>
                                <td colspan="5">
                                   <div class="pull-left">
                                       {:W('Common/InputRender/InputRender',array('modelid'=>15,'name'=>'content','id'=>$working['id'],$htmlstatus_working))}
                                   </div>
                                </td>
                            </tr>

                            <tr>
                                <td>附件</td>
                                <td colspan="5">
                                    {:W('Common/InputRender/InputRender',array('modelid'=>15,'name'=>'upload','id'=>$working['id'],1))}
                                </td>
                            </tr>

                                    <if condition="get_permission(get_uid(),['委员','集体'])">
                                    <tr>
                                        <td colspan="6">

                                            <in name="working.status" value="6">
                                                <a class="btn btn-default btn-sm" href="{$back_url}">返回</a>
                                                <else/>
                                                <a class="btn btn-default btn-sm" href="{:U('Working/Index/index',array('status'=>$working['status']))}">返回</a>
                                            </in>

                                        </td>
                                    </tr>
                                    </if>

                            <if condition="get_permission(get_uid(),['政协工作人员','秘书长'])">
                                    <input type="hidden" name="status"/>

                                    <php>


                                        <!--switch($group){
                                            case '政协工作人员':
                                            if($working[status]!=2)$htmlstatus_working = 1;
                                        break;
                                        case '秘书长':
                                        if($working[status]!=3)$htmlstatus_working = 1;
                                        break;
                                        }-->
                                    </php>


                            <tr>
                                <td colspan="6">

                                    <if condition="get_permission(get_uid(),['政协工作人员']) && $working[status] == 2">
                                    <a class="btn btn-primary btn-sm btn-de" href="javascript:;" data-toggle="modal" data-target="#myModal3"  onclick="document.form_back.status.value=4;">退回</a>
                                    <a class="btn btn-primary btn-sm btn-del" href="javascript:;"  data-toggle="modal" data-target="#myModal1"  onclick="document.form_working.status.value=3;" >审核通过</a>
                                        <elseif condition="get_permission(get_uid(),['秘书长']) && $working[status] == 3"/>
                                    <a class="btn btn-primary btn-sm btn-de" href="javascript:;" data-toggle="modal" data-target="#myModal3" onclick="document.form_back.status.value=5;">二审退回</a>
                                    <a class="btn btn-primary btn-sm btn-del" href="javascript:;"  data-toggle="modal" data-target="#myModal1" onclick="document.form_working.status.value=6;" >终审通过</a>
                                   </if>
                                    <a class="btn btn-default btn-sm" href="{:U('Working/Index/index',array('status'=>$working['status']))}">返回</a>
                                </td>
                            </tr>
                                    </if>

                            </tbody>
                            <!-- Small modal 通过审核-->
                            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel"><font color="red">提示</font></h4>
                                        </div>
                                        <div class="modal-body">
                                            您确定此条工作动态通过审核吗？
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            <a type="button" class="btn btn-primary btn-del-on" onclick="document.form_working.submit();">确定</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Small modal 通过审核-->

                        </table>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!--   <script>
        $('#add').click(function(){
            var data = {
                'id':"{$working.id}",
                'time' : $('input[name=time]').val(),
                'author' : $('input[name=author]').val(),
                'type' : $('input[name=type]').val(),
                'title' : $('input[name=title]').val(),
                'content' : $('textarea[name=content]').val(),
                'adopt' : $('input[name=adopt]').val(),
                'upload': $('a[name=upload]').val(),
                'make' : $('input[name=make]').val(),
                'status' : 4
            };

            $.post('<?php echo U("Index/tj");?>',data,function(msg){
               if(msg == 1 ){
                   alert('退回成功');
                   window.location.href ="{:U('Index/Index',array('status'=>2))}";
                    }else{
                   alert('退回失败');
               }
            });
        });

    </script>-->
    <script type="text/javascript">
        $(function() {
            var deldate;
            //模态关闭的回调
            $('#myModal').on('hide.bs.modal', function() {
                // 执行一些动作...
            });
            $(".btn-del").click(function(e) {
                //e.preventDefault();
                $('#myModal').modal('show');
                deldate = $(this).closest("tr");

            });
        })
    </script>
    <script type="text/javascript">
        $(function() {
            var deldate;
            //模态关闭的回调
            $('#myModall').on('hide.bs.modal', function() {
                // 执行一些动作...
            });
            $(".btn-de").click(function(e) {
                //e.preventDefault();
                $('#myModall').modal('show');
                deldate = $(this).closest("tr");

            });
        })
    </script>

    <!-- Small modal -->
    <div class="modal fade bs-example-modal-sm" id="myModal3">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color: #68d8ff;">理由！</h4>
                </div>
                <form name="form_back" action="{:U('Working/Index/tj')}" method="post">
                    <input type="hidden" name="working_id"  value="{$working['id']}">
                    <input type="hidden" name="status" >
                    <div class="modal-body">
                        <textarea name="suggest" rows="3" cols="3" class="form-control"></textarea>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="document.form_back.submit(); ">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    {:W('Common/Tongxunlu/index')}
    </block>