<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>江汉区政协委员履职管理与服务信息系统</title>
    <include file="cssjs"/>
   
</head>

<body ontouchstart="">
    <header class="ui-header ui-header-positive ui-border-b">
        <i class="ui-icon-return" onclick="history.back()"></i>
        <h1>社情民意</h1>
       
    </header>
     
    <section class="ui-container">


    <div class="ui-form ui-border-t">

        <div class="ui-form-item ui-form-item-show ui-border-b">
            <label for="#" style="width: 60px">时间：</label>
            <input type="text" value="{$polls.time|date='Y-m-d',###}" replaceholder="点击输入" readonly="readonly" style="padding-left: 50px">

        </div>
    <div class="ui-form-item ui-form-item-show ui-border-b">

        <label for="#"  style="width: 60px">标题：</label>
        <input type="text" value="{$polls.title}" replaceholder="点击输入" readonly="readonly" style="padding-left: 50px">
    </div>
        <div class="ui-form-item ui-form-item-show ui-border-b">

            <div class="leixin" style="width: 50px;float: left">
                类型：
            </div>
    <select name="type_id" disabled readonly>
        <option>--请选择--</option>
        <volist name="tree" id="top">
            <option value="{$top.id}" <eq name="polls.type_id" value="$top.id">selected</eq> >
                {$top.title}
            </option>
        </volist>
    </select>
            </div>

</div>
        	
        <h4 class="tit">参与人员：</h4>
        <div class="textwrap" style="padding-left: 15px">
            {:W('InputRender/InputRender',array('modelid'=>7,'name'=>'people_view',$polls['id'],1))}
        </div>
        
     <div class="content">

         {:W('InputRender/InputRender',array('modelid'=>7,'name'=>'content',$polls['id'],1))}

     </div>

    <div class="fujian">
        {:W('InputRender/InputRender',array('modelid'=>7,'name'=>'upload',$polls['id'],1))}
    </div>

        <if condition="$polls['back_suggest']">
            <div class="back-suggest">
                <textarea name="" id="" cols="30" rows="5" style="width: 98%;margin: 5px auto;display: block;border: 1px solid #ddd;" placeholder="退回意见">{$polls.back_suggest}</textarea>
            </div>
        </if>


        
    </section>
 


    
    
    
    
    
    
    
    
<script src="__PUBLIC__/Wap/js/jquery.min.js"></script>
<script src="__PUBLIC__/Wap/js/mobiscroll_date.js" charset="gb2312"></script>
<script src="__PUBLIC__/Wap/js/mobiscroll.js"></script>
<script type="text/javascript">
$(function () {
	var currYear = (new Date()).getFullYear();	
	var opt={};
	opt.date = {preset : 'date'};
	opt.datetime = {preset : 'datetime'};
	opt.time = {preset : 'time'};
	opt.default = {
		theme: 'android-ics light', //皮肤样式
		display: 'modal', //显示方式 
		mode: 'scroller', //日期选择模式
		dateFormat: 'yyyy-mm-dd',
		lang: 'zh',
		showNow: true,
		nowText: "今天",
		startYear: currYear - 50, //开始年份
		endYear: currYear + 10 //结束年份
	};

	$("#USER_AGE").mobiscroll($.extend(opt['date'], opt['default']));
	$("#USER_AGE2").mobiscroll($.extend(opt['date'], opt['default']));

});
</script>
<script >
$(function(){
	$("#J_author").click(function(){
		$(".ui-dialog").show();
		
	})
	$("#dis").click(function(){
		$(".ui-dialog").hide();
	});
	$("#yes").click(function(){
		var arr=[];
		$(".textarea").find("span").each(function(i,el){
			arr.push($(el).text())
		})
		$("#text-author").val(arr)
		$(".ui-dialog").hide();
	});
	$("#searchtable").on("click",".author_btn",function(){
		var author = $(this).text();
		$(".textarea").append('<span class="author_del">'+author+'</span>')
	});
	$(".textarea").on("click",".author_del",function(){
		$(this).remove();
	})
})

</script>   
    

</body>

</html>
