<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>政协委员履职平台</title>
    <link rel="stylesheet" href="../frozenui/css/frozen.css">
    <link rel="stylesheet" href="css/css.css">
    <script src="../frozenui/lib/zepto.min.js"></script>
    <script src="../frozenui/js/frozen.js"></script>
</head>

<body ontouchstart="">
    <header class="ui-header ui-header-positive ui-border-b">
        <i class="ui-icon-return" onclick="history.back()"></i>
        <h1>联名列表</h1>
        <!--<button class="ui-btn">回首页</button>-->
    </header>
     
    <section class="ui-container">
        
        <div class="searchlistwrap">
        	<h4 class="tit">联名列表</h4>
        	<ul class="searchlist">
        	<li>
        		<p>用  户  名:小星星</p>
        	</li>
        	<li>
        		<p>委员姓名:李凯</p>
        	</li>
        	<li>
        		<p>界  别  组:中国工农民主党</p>
        	</li>
        	<li>
        		<p>专  委  会:总工会</p>
        	</li>
        	<li>
        		<p>街道联络委:某某街道办</p>
        	</li>
        	<li>
        		<p>是否同意:待回复</p>
        	</li>
        	<li>
        		<button class="self_btn_f">删除</button>
        	</li>
        </ul>
        	<ul class="searchlist">
        	<li>
        		<p>用  户  名:小星星</p>
        	</li>
        	<li>
        		<p>委员姓名:李凯</p>
        	</li>
        	<li>
        		<p>界  别  组:中国工农民主党</p>
        	</li>
        	<li>
        		<p>专  委  会:总工会</p>
        	</li>
        	<li>
        		<p>街道联络委:某某街道办</p>
        	</li>
        	<li>
        		<p>是否同意:待回复</p>
        	</li>
        	<li>
        		<button class="self_btn_f">删除</button>
        	</li>
        </ul>
        
        </div>
        <div class="lianming">
        	<textarea name="" rows="5" cols="" placeholder="联名理由"></textarea>
        	 <button class="ui-btn ui-btn-primary">
                            保存
                        </button>
                        <button class="ui-btn ui-btn-primary">
                            提交
                        </button>
        </div>
        
    </section>
 
    
    
</body>

</html>
