<extend name="Base/common"/>
<block name="body">

    <script src="__PUBLIC__/static/zx/laydate/laydate.js" type="text/javascript" charset="utf-8"></script>
    <link src="__PUBLIC__/static/zx/laydate/need/laydate.css" type="text/javascript" charset="utf-8"/>
    <div class="ar_content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="tableWrap">
                        <h4 style="padding:5px">工作动态列表</h4>
                        <form name="frme" method="post" action="{:U('Working/Index/index',array('status'=>$status))}">
                        <table border="0" cellspacing="" cellpadding="" class="col-sm-10" style="margin-bottom:15px">
                            <tr>
                                <switch name="group">
                                    <case value="集体||委员">
                                <td style="width:100px"><a href="{:U('Working/Index/dopost')}" class="btn btn-primary btn-sm">添加工作动态</a></td>
                                    </case>
                                </switch>
                            <td style="width:200px"><input type="text" class="form-control input-sm" placeholder="标题" name="title" value=""/></td>
                                
                                <td style="width:200px"><input size="16" type="text" value="" name="stime" readonly class="form-control laydate-icon" placeholder="开始日期" required onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" /></td>
                                <td style="width:200px"><input size="16" type="text" value="" name="etime" readonly class="form-control laydate-icon" placeholder="结束日期" required onClick="laydate({istime: true, format: 'YYYY-MM-DD'})" /></td>
                                <td><button class="btn btn-primary btn-sm" style="margin-left:15px">查询</button></td></tr>
                        </table>
                            </form>
                        <form action="" method="post" name="frm">
                        <table class="table table-bordered table-responsive table-condensed">
                            <thead>
                            <tr>
                                <th style="width:400px">
                                    标题
                                </th>
                                <th>
                                    发布人
                                </th>

                                <th style="width:160px">
                                    发布日期
                                </th>
                                <th>
                                    状态
                                </th>
                               
                                <th style="width:240px">
                                    操作
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="list" id="vo">
                            <tr>
                                <td>
                                   {$vo.title}
                                </td>
                                <td>
                                    {$vo.author}
                                </td>
                                <td>
                                    {$vo['time']|date='Y-m-d',###}
                                </td>
                                <td>
                                    <if condition="($vo['status'] eq 1) AND ($vo['bstatus'] eq 0)">
                                        未提交
                                        <elseif condition="($vo['status'] eq 2) AND ($vo['bstatus'] eq 1)"/>
                                        等待初审
                                        <elseif condition="($vo['status'] eq 3) AND ($vo['bstatus'] eq 1)"/>
                                        等待终审
                                        <elseif condition="($vo['status'] eq 2) AND ($vo['bstatus'] eq 2)"/>
                                        初审退回
                                        <elseif condition="($vo['status'] eq 3) AND ($vo['bstatus'] eq 2)"/>
                                        终审退回
                                        <elseif condition="($vo['status'] eq 3) AND ($vo['bstatus'] eq 3)"/>
                                        终审完成
                                        <elseif condition="($vo['status'] eq 1) AND ($vo['bstatus'] eq 2)"/>
                                        被退回，已修改，未提交!
                                        <else />
                                        未知状态
                                    </if>
                                </td>

                                <td>
                                    <switch name="group">
                                        <case value="集体||委员">
                                            <if condition="($vo['status'] eq 1) OR ($vo['bstatus'] eq 2)">
                                            <!--<a data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-sm btn-sub-first" href="javascript:;" delid="{$vo['id']}" >提交初审</a>-->
                                                <if condition="$vo['bstatus'] eq 2">
                                                    <a class="btn btn-primary btn-sm back-idea" href="#" data-toggle="modal" data-target="#myModal" data-text="{$vo.back}">退回意见</a>
                                                </if>
                                            <a class="btn btn-primary btn-sm" href="{:U('Working/Index/dopost',array('id'=>$vo['id']))}">查看</a>
                                            <a data-toggle="modal" data-target="#myModal" class="btn btn-danger  btn-sm btn-del" href="#" delid="{$vo['id']}" >删除</a>
                                                <else />
                                                <a class="btn btn-primary btn-sm" href="{:U('Working/Index/detail',array('id'=>$vo['id']))}">查看</a>
                                            </if>
                                        </case>
                                        <case value="政协办公室">
                                            <if condition="($vo['status'] eq 2) AND ($vo['bstatus'] eq 1) ">
                                                <!--<a data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-sm btn-sub-second" href="javascript:;"  delid="{$vo['id']}" >初审通过</a>-->
                                                <a class="btn btn-primary btn-sm" href="{:U('Working/Index/dopost',array('id'=>$vo['id']))}">查看</a>
                                            <elseif condition="$vo['bstatus'] eq 2" />
                                                <a class="btn btn-primary btn-sm back-idea" href="#" data-toggle="modal" data-target="#myModal" data-text="{$vo.back}">退回意见</a>
                                                <a class="btn btn-primary btn-sm" href="{:U('Working/Index/detail',array('id'=>$vo['id']))}">查看</a>
                                            <else />
                                                <a class="btn btn-primary btn-sm" href="{:U('Working/Index/detail',array('id'=>$vo['id']))}">查看</a>
                                            </if>
                                        </case>
                                        <case value="办公室主任">
                                            <if condition="($vo['status'] eq 3) AND ($vo['bstatus'] eq 1) ">
                                                <!--<a data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-sm btn-sub-end" href="javascript:;"  delid="{$vo['id']}" >终审通过</a>-->
                                                <a class="btn btn-primary btn-sm" href="{:U('Working/Index/dopost',array('id'=>$vo['id']))}">查看</a>
                                            <elseif condition="$vo['bstatus'] eq 2" />
                                                <a class="btn btn-primary btn-sm back-idea" href="#" data-toggle="modal" data-target="#myModal" data-text="{$vo.back}">退回意见</a>
                                                <a class="btn btn-primary btn-sm" href="{:U('Working/Index/detail',array('id'=>$vo['id']))}">查看</a>
                                            <else />
                                                <a class="btn btn-primary btn-sm" href="{:U('Working/Index/detail',array('id'=>$vo['id']))}">查看</a>
                                            </if>
                                        </case>
                                    </switch>
                                </td>
                            </tr>
                            </volist>
                            </tbody>
                        </table>
                            <div>
                                {$page}
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var delid='';
        var url='';
        var data='';
        $(function() {
            //删除
            $(".btn-del").click(function() {
                delid=$(this).attr('delid');
                 $('#confrim').text('确定删除吗？');
                 url="{:U('Working/Index/del')}";
                 data={'id': delid};
                $('#sure').show();
            });
            //提交初审
            $(".btn-sub-first").click(function() {
                delid=$(this).attr('delid');
                 $('#confrim').text('提交初审将不能撤回，确定提交吗？');
                 url="{:U('Working/Index/sub_work_status')}";
                 data={'id': delid,'status':2,'bstatus':1};
                $('#sure').show();
            });
            //提交终审
            $(".btn-sub-second").click(function() {
                delid=$(this).attr('delid');
                 $('#confrim').text('提交初审将不能撤回，确定提交吗？');
                 url="{:U('Working/Index/sub_work_status')}";
                 data={'id': delid,'status':3,'bstatus':1};
                $('#sure').show();
            });
            //终审通过
            $(".btn-sub-end").click(function() {
                delid=$(this).attr('delid');
                $('#confrim').text('提交终审将不能撤回，确定提交吗？');
                url="{:U('Working/Index/sub_work_status')}";
                data={'id': delid,'status':3,'bstatus':3};
                $('#sure').show();
            });
            $('.back-idea').click(function() {
                var data_text=$(this).attr('data-text');
                if(data_text=='') data_text='暂无退回意见！';
                $('#confrim').text(data_text);
                $('#sure').hide();
            });
        })

        function ajax_sub(url,data){
                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function (data) {
                        data = $.parseJSON(data);
                        if (data.code == 1) {
                            window.location.reload();
                        } else {
                            alert(data.msg);
                        }
                    }
                })
        }
    </script>
    <!-- Small modal -->
    <div class="modal fade bs-example-modal-sm" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color: #68d8ff;">提醒</h4>
                </div>

                <input type="hidden" id="return_status" />
                <div class="modal-body">
                    <label id="confrim" style="font-size: 15px;color: #0A8CD2"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" >关闭</button>
                    <button type="button" class="btn btn-primary"  onclick="ajax_sub(url,data)" id="sure">确定</button>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->    
</block>












