<extend name="Base/common"/>

<block name="body">
 <div class="ar_content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="tableWrap">
                    	<h4 style="padding: 5px;">按界别组统计</h4>
                        <table border="" cellspacing="" cellpadding="" class="table table-bordered">
                        	<tr><th>界别组</th><th>原案数</th><th>立案数</th><th>重点提案数</th><th>优秀提案数</th><th>建议案数</th></tr>
	                        <volist name="data" id="d">
		                        <tr><td>{$d.name}</td><td>{$d.count.countta}</td><td>{$d.count.countl}</td><td>{$d.count.countz}</td><td>{$d.count.countt}</td><td>{$d.count.countj}</td></tr>
	                        </volist>                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</block>