<extend name="Base/common"/>

<block name="body">
 <div class="ar_content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="tableWrap">
                    	<h4>按立案、重点提案、优秀、建议案统计</h4>
                        <table border="" cellspacing="" cellpadding="" class="table table-bordered">
                        	<tr><th>类别</th><th>数量</th></tr>
                        	<tr><td>原案数</td><td><a href="" class="text_derection">{$data.countta}</a></td></tr>
                        	<tr><td>立案数</td><td><a href="" class="text_derection">{$data.countl}</a></td></tr>
                        	<tr><td>重点提案数</td><td><a href="" class="text_derection">{$data.countz}</a></td></tr>
                        	<tr><td>优秀提案数</td><td><a href="" class="text_derection">{$data.countt}</a></td></tr>
                        	<tr><td>建议案数</td><td><a href="" class="text_derection">{$data.countj}</a></td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</block>