<extend name="Base/common"/>

<block name="body">
 <div class="ar_content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="tableWrap">
                    	<h4 style="padding: 5px;">按办理结果统计</h4>
                        <table border="" cellspacing="" cellpadding="" class="table table-bordered">
							<tr><th>办理状态</th><th>数量</th></tr>
                        	<tr><td>A 已经解决或采纳的</td><td><a href="" class="text_derection">{$data.rateA}</a></td></tr>
                        	<tr><td>B 列入计划拟解决的</td><td><a href="" class="text_derection">{$data.rateB}</a></td></tr>
                        	<tr><td>C 留做参考</td><td><a href="" class="text_derection">{$data.rateC}</a></td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</block>