<extend name="Base/common"/>

<block name="body">
 <div class="ar_content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="tableWrap">
                    	<h4 style="padding: 5px;">按提案办理满意度统计</h4>
                        <table border="" cellspacing="" cellpadding="" class="table table-bordered">
                        	<tr><th>满意情况</th><th>数量</th></tr>
                        	<tr><td>满意</td><td>{$data.comment1}</td></tr>
                        	<tr><td>基本满意</td><td>{$data.comment2}</td></tr>
                        	<tr><td>不满意</td><td>{$data.comment3}</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</block>