<extend name="Base/common"/>

<block name="body">
  <div class="ar_content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="tableWrap">
                    	<h4>按提案类别统计</h4>
                        <table border="" cellspacing="" cellpadding="" class="table table-bordered">
                        	<tr><th>提案类别</th><th>原案数</th><th>立案数</th><th>重点提案数</th><th>优秀提案数</th><th>建议案数</th></tr>
	                        <volist name="statistics" id="sta">
		                        <tr><td>{$sta['title']}</td><td>{$sta.count.countta}</td><td>{$sta.count.countl}</td><td>{$sta.count.countz}</td><td>{$sta.count.countt}</td><td>{$sta.count.countj}</td></tr>
	                        </volist>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</block>