<extend name="Base/common"/>

<block name="body">
  <div class="ar_content">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div id="tableWrap">
            <table border="" cellspacing="" cellpadding="" class="table table-bordered">
              <tr><th>请选择年份<select name="" id=""><option>2016</option><option>2015</option></select></th></tr>
              <tr><td><a href="{:U('Home/Statistics/byMember')}">按集体或委员提案数统计</a></td></tr>
              <tr><td><a href="{:U('Home/Statistics/byType')}">按提案类别统计</a></td></tr>
              <tr><td><a href="{:U('Home/Statistics/byProposal')}">按立案、重点提案、优秀、建议案统计</a></td></tr>
              <tr><td><a href="{:U('Home/Statistics/bysatisfy')}">按提案办理满意度统计</a></td></tr>
              <tr><td><a href="{:U('Home/Statistics/byResult')}">按提案办理结果统计</a></td></tr>
              <tr><td><a href="{:U('Home/Statistics/byUnitNumber')}">按办理单位办理数统计</a></td></tr>
              <tr><td><a href="{:U('Home/Statistics/byZwh')}">按专委会统计</a></td></tr>
              <tr><td><a href="{:U('Home/Statistics/byJdllw')}">按街道联络委统计</a></td></tr>
              <tr><td><a href="{:U('Home/Statistics/byJiebie')}">按界别统计</a></td></tr>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</block>