<extend name="Base/common"/>
<block name="body">
    <div class="ar_content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="tableWrap">
                        <h4 style="padding:5px">公告管理列表</h4>
                        <form name="frm" method="post" action="{:U('Message/Index/index')}">
                        <table border="0" cellspacing="" cellpadding="" class="col-sm-10" style="margin-bottom:15px">
                            <tr><td style="width:110px" ><a href="{:U('Message/Index/add')}" class="btn btn-primary btn-sm">添加公示公告</a></td>
                                <td><input type="text" class="form-control input-sm" name="keyword" placeholder="公告标题"/></td>
                                <td><button class="btn btn-primary btn-sm" style="margin-left:15px" onclick="checkSearch()">查询</button></td>
                            </tr>
                        </table>
                            <input type="submit" id="submit" style="display: none"/>
                            </form>
                        <table class="table table-bordered table-responsive table-condensed">
                            <thead>
                            <tr>
                                <th>标题</th>
                                <th>发布日期</th>
                                <th>发布人</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="resaut" id="resaut">
                            <tr>
                                <td>
                                    {$resaut.title}
                                </td>
                                <td>
                                    {$resaut.stime|date="Y-m-d H:i:s",###}
                                </td>
                                <td>
                                    {$resaut.truename}
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="{:U('Message/Index/detail',array('id'=>$resaut[id]))}">查看</a>
                                    <a class="btn btn-success  btn-sm" href="#" onclick="sendmsg({$resaut.id})">发送通知</a>
                                    <a class="btn btn-danger  btn-sm " href="{:U('Message/Index/edit',array('id'=>$resaut[id]))}" >修改</a>
                                    <a class="btn btn-danger  btn-sm btn-del"  delid="{$resaut[id]}"  href="javascript:;" >删除</a>
                                </td>
                            </tr>
                            </volist>
                            </tbody>
                        </table>
                        <if condition="$lockback eq 1">
                            <a href="javascript:history.back(-1);" class="btn btn-danger ">返回</a>
                        </if>
                    </div>
                </div>
            </div>
        </div>
    </div>

 <script type="text/javascript">

     var delid='';
     $(function() {
         $(".btn-del").click(function() {
             delid=$(this).attr('delid');
             var choose =confirm('您是否确认删除该记录？');
             if(choose) {
                 $.ajax({
                     type: "POST",
                     url: "{:U('Message/Index/del')}",
                     data: {'id': delid},
                     success: function (data) {
                      //   data = $.parseJSON(data);

                         if (data.status == 1) {
                             $('#myModal').modal('hide');
                             window.location.reload();
                         } else {
                             alert(data.msg);
                         }
                     }
                 })
             }
         });
     })



    function checkSearch()
         {
             if(document.frm.keyword.value == '')
             {
                 alert("公告标题不能为空！");
                 document.frm.keyword.focus();
                 return false;
             }else{
                 $("#submit").click();
             }
         }
         function sendmsg(id){
             $.ajax({
                 type: "POST",
                 url: "{:U('Message/Index/sendtemplateMsg')}",
                 data:{'id':id},
                 success: function(data) {
                     data = $.parseJSON(data);
                     alert('成功通知'+data.time+'位人员');
                 }
             })
         }
 </script>-

</block>












