<eq name="type" value="personal">
    
 

        <div  >
            <select class="form-control input-sm" id="expand_{$field_id}" name="expand_{$field_id}">
                <option  disabled selected hidden>{$input_tips}</option>
                <volist name="items" id="vl">
                    <option value="{$vl.value}" {$vl.selected}>{$vl.value|htmlspecialchars}</option>
                </volist>
            </select>
            <div class="clearfix"></div>
            
        </div>
   
    <else/>

    <div  >
        <select class="form-control input-sm" id="expand_{$field_id}" name="expand_{$field_id}" readonly>
            <option  disabled selected hidden>{$input_tips}</option>
            <volist name="items" id="vl">
                <option value="{$vl.value}" {$vl.selected}>{$vl.value|htmlspecialchars}</option>
            </volist>
        </select>
        <div class="clearfix"></div>

    </div>



</eq>
