<eq name="type" value="personal">
    
 

        <div  >
            <select class="form-control input-sm" id="expand_{$field_id}" name="expand_{$field_id}">
                <option  disabled selected hidden>--请选择--</option>
                <volist name="items" id="vl">
                    <option value="{$vl.value}" {$vl.selected}>{$vl.value|htmlspecialchars}</option>
                </volist>
            </select>
            <div class="clearfix"></div>
            <neq name="input_tips" value=""><span class="input-tips">{$input_tips}</span></neq>
        </div>
   
    <else/>
    <dt class="expandinfo-dt">
        {$field_name}：
    </dt>
    <dd class="expandinfo-dd">
        {$selected|htmlspecialchars}
    </dd>
</eq>
