
<if condition="!empty($group_view)">
<!-- Modal -->
<style type="text/css">
	.con, .people_N{
		max-height: 400px;
		overflow-y: auto;
		display: none;
	}

	.con label {
		width: 100px;
		text-align: center;
		display: inline-block;
	}

	.people_N input {
		vertical-align: middle;
	}
	.iconBtn {
		height: 20px;
		width: 20px;
		display: block;
		line-height: 20px;
		text-align: center;
		background: #eee;
		color: #666;
		cursor: pointer;
		margin-right: 15px;
		border-radius: 3px;
		margin-left: 14px;

	}

	.iconBtn:after {
		content: "+";
	}

	.active_on:after {
		content: "-";
	}

</style>
<!---分为了2级和3级的部门人员--->
<div class="modal fade" id="myModalx" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
					class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">选择参与人员</h4>
			</div>
			<div class="modal-body">

				<form>
					<input type="hidden" value="" id="contact_ids"/>

					<foreach name="contact_group" item="cg" key="k">
						<if condition="$group_view['parent_id'] == $k || $group_view == 'all'">
						<div class="box_N">
							<label><input type="checkbox" value="{$k}" class="big_group"/>{$cg['name']}</label>
							<label>
								<i class="iconBtn bigicon"></i>
							</label>

							<if condition="$cg[subgroup]==''">
								<div class="people_N" style="padding-left: 20px">
									<div class="tit">
										<label><input type="checkbox" value="0" style="display: none"/></label>
										<label>

										</label>
									</div>

									<div class="con" style="display: block;position: relative;left: -20px;top: -20px;">
										<php>
											switch($k){

												case '2':
													$map['是否常委'] = '是';
													break;
												case '3':
													$map['主任'] = ['in','民族街联络委员会,民权街联络委员会,满春街联络委员会,花楼水塔街联络委员会,前进街联络委员会,民意街联络委员会,新华街联络委员会,万松街联络委员会,北湖街联络委员会,唐家墩街联络委员会,常青街联络委员会,汉兴街联络委员会,江汉经济开发区联络委员会'];

													break;


												case '5':
													$map['名称'] = $cgs[name];
													$is_jt = 1;
													break;
												case '6':
													$map['七党一联主委'] = '是';
													break;
											case '7':
											$map['主席会议成员'] = '是';

											break;

											}

											$m=D('User/User');
											if($js_jt == 1){
												$m->setModel(TEAM);
											}else{
												$m->setModel(WEIYUAN);
											}

											$users = $m->getUsers($map,array('名称','界别','街道联络委','专委会','七党一联主委','主席会议成员','是否常委','主任')); $map = array();</php>
										<volist name="users" id="u">
											<label><input type="checkbox" value="{$u['id']}"/>{$u['名称']}</label>
										</volist>


									</div>

								</div>
							</if>

							<foreach name="cg.subgroup" key="k2" item="cgs">
								<if condition="$group_view['id'] == $k2 || $group_view == 'all'">
								<div class="people_N" style="padding-left: 20px">
									<div class="tit">
										<label><input type="checkbox" value="{$k2}"/>{$cgs.name}</label>
										<label>
											<i class="iconBtn"></i>
										</label>
									</div>

									<div class="con">
										<php>
											$is_jt = 0;
											switch($k){
											case '1':
											$map['专委会'] = $cgs[name];


											break;
											case '4':
											$map['名称'] = $cgs[name];

											$is_jt = 1;
											break;

											case '5':
											$map['名称'] =  $cgs[name];

											break;

											case '8':
												$map['街道联络委'] = $cgs[name];

												break;
											}
											$m=D('User/User');

											if($is_jt){
												$m->setModel(TEAM);
												$users = $m->getUsers($map,['名称','联络员']);

											}else{
												if($k == 5){
													$m->setModel(ZWHXX);
													$users = $m->getUsers($map,['名称','姓名']);

												}else{
													$m->setModel(WEIYUAN);
														$users = $m->getUsers($map,array('名称','界别','街道联络委','专委会','七党一联主委','主席会议成员','是否常委','主任'));
											}
											}

											$map = []; </php>
										<volist name="users" id="u">
											<label><input type="checkbox" value="{$u['id']}"/>
												<if condition="$k==5 ">{$u['姓名']}<elseif condition="$k==4"/>{$u['联络员']}<else/>{$u['名称']}</if>

											</label>
										</volist>


									</div>
								</div>
								</if>
							</foreach>

						</div>
						</if>
					</foreach>

					<script type="text/javascript">
						$(function () {
							$(".box_N").find(".big_group").click(function () {

								var tempArr = [];
								var allcheckinput = $(this).closest(".box_N").find("input");
								if ( $(this).is(":checked") ) {
									//所有次级选中

									for (var i = 0; i < allcheckinput.length; i++) {
										//大组的全选
										allcheckinput.eq(i).prop("checked", true);
									}

								}else{
									//大组反选
									for (var i = 0; i < allcheckinput.length; i++) {
										allcheckinput.eq(i).removeAttr("checked", true)
									}
								}

								//选择所有人
								////////////////
								var peopleArr = $(".people_N").find(".con input");//组下人
								for (var i = 0; i < peopleArr.length; i++) {
									var groupName = peopleArr.eq(i).closest(".people_N").find(".tit input").val();
									var bigGroupName = peopleArr.eq(i).closest(".box_N").find(".big_group").val();
									if (peopleArr.eq(i).is(":checked")) {
										tempArr.push(bigGroupName + "_" + groupName + "_" + peopleArr.eq(i).val());

									}
								}
							//	console.log(tempArr);
								$("#contact_ids").val(tempArr);
							})
						});

						$(function () {
//单独选人
							var groupArr = $(".people_N");//组
							var peopleArr = $(".people_N").find(".con input");//组下人

							$(".people_N").find(".con input").click(function () {
								var tempArr = [];
								var peopleVal = $(this).val();//点击时人的值
								var groupVal = $(this).closest(".people_N").find(".tit input").val();//点击时对应的组
								for (var i = 0; i < peopleArr.length; i++) {
									var groupName = peopleArr.eq(i).closest(".people_N").find(".tit input").val();
									var bigGroupName = peopleArr.eq(i).closest(".box_N").find(".big_group").val();
									if (peopleArr.eq(i).is(":checked")) {
										tempArr.push(bigGroupName + "_" + groupName + "_" + peopleArr.eq(i).val())

									}
								}

								$("#contact_ids").val(tempArr);

								//成员选中补全
								for (var i = 0; i < $(this).closest(".people_N").find(".con input").length; i++) {
									if ($(this).closest(".people_N").find(".con input").eq(i).is(":checked") == false) {
										$(this).closest(".people_N").find(".tit input").removeAttr("checked");
										return
									} else {
										$(this).closest(".people_N").find(".tit input").prop("checked", true)
									}
								}
								//组选中补全 依赖成员
								for (var i = 0; i < $(this).closest(".box_N").find(".tit input").length; i++) {
									if ($(this).closest(".box_N").find(".tit input").eq(i).is(":checked") == false) {
										$(this).closest(".box_N").find(".big_group").removeAttr("checked");
										return
									} else {
										$(this).closest(".box_N").find(".big_group").prop("checked", true)
									}
								}


								return tempArr;
							})


//选组

							$(".people_N").find(".tit input").click(function () {
								var ckinput = $(this).closest(".people_N").find(".con input");//所有的人
								if ($(this).is(":checked")) {

									for (var i = 0; i < ckinput.length; i++) {
										ckinput.eq(i).prop("checked", true)
									}
								} else {
									for (var i = 0; i < ckinput.length; i++) {
										ckinput.eq(i).removeAttr("checked")
									}
								}

								var tempArr = [];


								for (var i = 0; i < peopleArr.length; i++) {
									var groupName = peopleArr.eq(i).closest(".people_N").find(".tit input").val();
									var bigGroupName = peopleArr.eq(i).closest(".box_N").find(".big_group").val();
									if (peopleArr.eq(i).is(":checked")) {
										tempArr.push(bigGroupName + "_" + groupName + "_" + peopleArr.eq(i).val());

									}
								}
								//console.log(tempArr);
								$("#contact_ids").val(tempArr);
								//大组补全
								for (var i = 0; i < $(this).closest(".box_N").find(".tit input").length; i++) {
									if ($(this).closest(".box_N").find(".tit input").eq(i).is(":checked") == false) {
										$(this).closest(".box_N").find(".big_group").removeAttr("checked");
										return
									} else {
										$(this).closest(".box_N").find(".big_group").prop("checked", true)
									}
								}
								return tempArr;
							})



							$("#submit_ids").click(function(){

								var self=$(this);
								contact_ids = $("#contact_ids").val();
								$.ajax({
									url : '/index.php?s=/Usercenter/Index/getContacts_ajax.html',
									data : 'user='+contact_ids,
									async : false,
									type : 'POST',
									success : function(returnData){
										$('#contact_user').val(returnData.content);
										$('#uids').val(returnData.uids);

									}
								});
							});


						});


						$(function () {
							$(".tit i").click(function () {
								$(this).closest(".people_N").find(".con").toggle(400);
								$(this).closest(".people_N").find(".tit i").toggleClass("active_on")
							});
							$(".bigicon").click(function(){
								$(this).closest(".box_N").find(".people_N").toggle(200);
								$(this).toggleClass("active_on")
							})
						})
					</script>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" id="submit_ids"  data-dismiss="modal">确定</button>
			</div>
		</div>
	</div>
</div>
</if>