<tr>
    <td colspan="2">
        <a href="{:U('Wap/Proposal/edit')}" class="self_btn self_btn_h">撰写提案</a>
    </td>

</tr>
<tr>
    <td> <a href="{:U('Wap/Proposal/index',array('status'=>'1'))}" class="self_btn">未提交</a></td>
    <td>
        <a href="{:U('Wap/Proposal/index',array('status'=>'2'))}" class="self_btn">待审核</a>
    </td>
</tr>
<tr>
    <td> <a href="{:U('Wap/Proposal/index',array('status'=>'4,5,6,7'))}" class="self_btn">未立案</a></td>
    <td>
        <a href="{:U('Wap/Proposal/index',array('status'=>'8,11,13,14,17,18,19'))}" class="self_btn">已立案</a>
    </td>
</tr>
<tr>
    <td> <a href="{:U('Wap/Proposal/pleaseJoint')}" class="self_btn">被邀联名</a></td>
    <td>
        <a href="{:U('Wap/Proposal/pleaseMerge')}" class="self_btn">被并案</a>
    </td>
</tr>
<tr>
    <td colspan="2">
        <p class="hr"></p>
    </td>
</tr>