<extend name="Base/common"/>

<block name="body">
    <div class="ar_content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="tableWrap">
                        <form name="frme" method="post" action="{:U('Historical/Index/upload')}" >
                        <table class="table table-bordered table-responsive table-condensed" style="width: 1000px;">
                            <thead>
                            <tr>
                                <th colspan="6">
                                    文史资料添加
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="width:70px">
                                    日期
                                </td>
                                <td >
                                    {:W('Common/InputRender/InputRender',array('modelid'=>10,'name'=>'time','',1,NOW_TIME))}</td>
                                <td style="width:160px" class="text-right">
                                    类别
                                </td>
                                <td >
                                    <select name="type_id" class="form-control input-sm">
                                        <option disabled="" selected="" hidden="">--请选择--</option>
                                        <volist name="tree" id="top">
                                            <option value="{$top.id}" >
                                                {$top.title}
                                            </option>
                                        </volist>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                            <td>
                                作者
                            </td>
                            <td colspan="3" >

                                <a  class="btn btn-primary"
                                    data-toggle="modal"
                                    data-target="#myModalx" style="margin-bottom:5px">添加作者</a>
                                <input type="hidden" name="people" id="uids" />
                                <input type="text" name="people_view"  id="contact_user"  class="text input-large form-control input-sm" readonly="readonly" />



                            </td>
                            </tr>
                            <tr>
                                <td>
                                    标题
                                </td>
                                <td colspan="5">
                                    {:W('Common/InputRender/InputRender',array('modelid'=>10,'name'=>'title'))}
                                </td>
                            </tr>

                            </tr>
                            <tr>
                            <tr>
                                <td>
                                    内容
                                </td>
                                <td colspan="5">
                                  <div class="pull-left">
                                        {:W('Common/InputRender/InputRender',array('modelid'=>10,'name'=>'content'))}
                                  </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    采用<font color="red"></font>
                                </td>
                                <td colspan="5">
                                        <label>{:W('Common/InputRender/InputRender',array('modelid'=>10,'name'=>'adopt'))}</label>
                                </td>
                            </tr>
                            <tr>
                                <td>附件</td>
                                <td colspan="5">
                                    {:W('Common/InputRender/InputRender',array('modelid'=>10,'name'=>'upload'))}
                                </td>
                            </tr>

                            <tr>
                                <td colspan="6">
                                    <button class="btn btn-primary">提交</button>
                                    <a class="btn btn-default" href="{:U('Survey/Index/index')}">返回</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {:W('Common/Tongxunlu/index')}
</block>