<extend name="Base/common" />
<block name="body">
    <div class="ar_content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="tableWrap">
                        <form action="{:U('Proposal/Index/dopost')}" name="proposal" method="post">
                            <input type="hidden" name="status" />
                            <input type="hidden" name="jdllw" value="{$data['街道联络委']}" />
                            <input type="hidden" name="zwh" value="{$data['专委会']}" />
                            <input type="hidden" name="jiebie" value="{$data['界别']}" />
                            <table class="table table-bordered table-responsive table-condensed detail_right" style="width: 1000px;">
                                <thead>
                                    <tr>
                                        <th colspan="6">
                                            撰写提案
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            提出期间
                                        </td>
                                        <td>
                                            {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'meet_type','',1,$data['meet_type']))}
                                        </td>
                                        <td>
                                            类别
                                        </td>
                                        <td>
                                            <php>$group = reset(get_group(get_uid()))</php>
                                            {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'leibie','id'=>$content['id'],1,$group))}
                                        </td>
                                        <td>
                                            提出日期
                                        </td>
                                        <td>
                                            {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'create_time','id'=>'',0,'defval'=>NOW_TIME))}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            提案类型
                                        </td>
                                        <td>
                                            <select name="type_id" class="form-control input-sm">
                                                <option disabled="" selected="" hidden="">--请选择--</option>
                                                <volist name="tree" id="top">
                                                    <option value="{$top.id}">
                                                        {$top.title}
                                                    </option>
                                                </volist>
                                            </select>
                                        </td>
                                        <td>
                                            会议次数
                                        </td>
                                        <td>
                                            {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'meet','',1,C('PROPOSAL_MEET')))}
                                        </td>
                                        <td>
                                            人数
                                        </td>
                                        <td>
                                            {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'renshu'))}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            案由
                                        </td>
                                        <td colspan="5">
                                            <div style="width:600px" class="pull-left">
                                                {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'title'))}
                                            </div>
                                            <div class="btn btn-default btn-sm pull-left" data-toggle="modal" data-target="#myModal" onclick="javascript:check_title();" style="margin-left:5px">检索案由</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            内容
                                        </td>
                                        <td colspan="5">
                                            {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'content'))}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            附件
                                        </td>
                                        <td colspan="5">
                                            <div class="pull-left">
                                                {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'fujian'))}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            提案人
                                        </td>
                                        <td colspan="1">
                                            {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'author','','',$data['名称']))}
                                        </td>
                                        <td>
                                            联系人
                                        </td>
                                        <td>
                                            {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'contact','','',$data['lxr']))}
                                        </td>
                                        <td>联系方式</td>
                                        <td>
                                            {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'telephone','id'=>$content['id'],$html_status,$data['sjh']))}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            是否公开
                                        </td>
                                        <td>
                                            <div class="pull-left">
                                                {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'is_public'))}
                                            </div>

                                        </td>

                                        <td>联系人单位
                                        </td>
                                        <td colspan="3">
                                            {:W('Common/InputRender/InputRender',array('modelid'=>4,'name'=>'contact_unit','id'=>$content['id'],'',$data['工作单位']))}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="6">
                                            <div class="pull-left">
                                                {__TOKEN__}
                                                <button class="btn btn-primary" onClick="document.proposal.status.value='1';document.proposal.action='{:U('Proposal/Index/doPost')}'">保存</button>
                                                <button class="btn btn-primary" onClick="document.proposal.status.value='2';document.proposal.action='{:U('Proposal/Index/doPost')}'">直接提交</button>
                                                <a class="btn btn-default" href="{$back_url}">返回</a></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    function check_title() {
        var myData = "title=" + $('input[name=title]').val();
        jQuery.ajax({
            type: "POST", // HTTP method POST or GET
            url: "{:U('Proposal/Index/check_title_ajax')}", //Where to make Ajax calls
            dataType: "json", // Data type, HTML, json etc.
            data: myData, //Form variables
            success: function(response) {
                if (response.status == 0) {
                    $("#search_list>table").html('未检索到结果');
                } else {
                    //先清空输出框
                    $("#search_list>table").html('');
                    data = response.content;
                    var trtd;
                    trtd = '<tr><th>提出时间</th><th>案由</th></tr>';
                    for (r in data) {
                        var tit = data[r].title;
                        var time = data[r].create_time;
                        trtd += "<tr><td> " + time + " </td><td> " + tit + "</td></tr>";
                    }


                    $("#search_list>table").append(trtd)
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                //On error, we alert user
                alert(thrownError);
            }
        });
    }
    </script>
    <!--检索输入框 s-->
    <!-- Small modal -->
    <div class="modal fade bs-example-modal-sm" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">检索结果！</h4>
                </div>
                <div class="modal-body" id="search_list">
                    <table class="table table-bordered">
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!--检索输入框 e-->
</block>
