<extend name="Base/common"/>

<block name="body">
    <div class="ar_content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="tableWrap" >
                        <p>帮助中心</p>
                        <p><a href="/Public/办理答复议提案须知.doc">办理答复议提案须知（附件下载）</a>
                        </p>
                        <p><a href="/Public/江汉区政协委员服务与管理信息系统-操作说明文档.doc">江汉区政协委员服务与管理信息系统-操作说明文档（附件下载）</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</block>