<!doctype html>
<html>

	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="Application/Home/View/default/Weixin/static/index.css" />
		<meta name="" content="" id="pixclPatio" />
		<title>{$data['title']}签到</title>
		<script>
			function setSize() {
				var pixclPatio = 1 / window.devicePixelRatio;
				var htmlPixclPatio = document.getElementById('pixclPatio');
				htmlPixclPatio.innerHTML = '<meta name="viewport" content="width=device-width,initial-scale=' + pixclPatio + ',minimum-scale=' + pixclPatio + ',maximum-scale=' + pixclPatio + ',user-scalable=no" />'
				pixclPatio = 1 / window.devicePixelRatio;
				var html = document.getElementsByTagName('html')[0];
				var pageWidth = html.getBoundingClientRect().width;
				html.style.fontSize = pageWidth / 16 + 'px';
				if(parseInt(html.style.fontSize) > 96) {
					html.style.fontSize = 96 + 'px'
				}
			}
			setSize()
			window.addEventListener("resize", setSize, false);
		</script>
		<script src="Application/Home/View/default/Weixin/static/zepto.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="Application/Home/View/default/Weixin/static/iscroll.js"></script>
		<script type="text/javascript">
			var myScroll;
			function loaded() {
				myScroll = new IScroll('#wrapper', {
					mouseWheel: true,
					click:true
				});
			}
			document.addEventListener('touchmove', function(e) {
				e.preventDefault();
			}, false);
		</script>
		<!--调用滚动-->
		<script>
			$(function() {
				loaded()
			})
		</script>
		<style type="text/css">
			#wrapper{
				background: #f0eff4 ;
				bottom: 2.7rem;
			}
			#scroller{
				background: #f0eff4 ;
			}
		</style>
	</head>

	<body>
		<div id="wrapper">
			<div id="scroller">
				<div class="mark_article">
					<p class="user_name">{$userdb['truename']},您好：</p>
					<p class="user_name">{$typename}名称:{$data['title']}</p>
					<div class="con">
						{$typename}简介:{$data['explain']}
					</div>
					<p class="user_name">开始时间：{$data['sTime']|date="Y-m-d H:i:s",###}</p>
					<p class="user_name">结束时间：{$data['eTime']|date="Y-m-d H:i:s",###}</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="mark_box clear">
				<if condition="$showtype eq 1">
					<a href="#" class="mark_btn jion_btn_dis">已过期</a>
				<elseif condition="$showtype eq 2"/>
					<a href="#" class="mark_btn jion_btn_dis">未开始</a>
				<elseif condition="$showtype eq 3"/>
					<a href="#" class="mark_btn jion_btn_dis" >已经签到</a>
				<else />
					<a href="#" class="mark_btn" id="mark">第{$mark_sort}次签到</a>
				</if>
			</div>
		</div>
	</body>
<script src="Application/Home/View/default/Weixin/static/jquery.min.js"></script>
<script type="text/javascript">
	$(function(){
		$('#mark').click(function(){
				$.ajax({
					type: "POST",
					url: "{:U('Weixin/saveMark',array('uid'=>$userdb['id'],'e_m_id'=>$data['id'],'mark_sort'=>$mark_sort,'type'=>$type))}",
					success: function(data){
						data=$.parseJSON(data);
						if(data.code==1){ 
								alert(data.msg);
								window.location.reload();
							}else{
								alert(data.msg);
							}
					}
			})
		
		})
	})
</script>
</html>



























