<extend name="Base/common"/>
<block name="body">
<div class="ar_content">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div id="tableWrap">
                    <table class="table table-bordered table-responsive table-condensed" style="width: 1000px;">
                        <thead>
                        <tr>
                            <th>
                                所属组
                            </th>
                            <th >
                                姓名
                            </th>
                            <th >
                                单位
                            </th>
                            <th >
                                联系电话
                            </th>
                            <th >
                                签到次数
                            </th>
                            <th >
                                签到时间
                            </th>
                            <th >
                                签到类型
                            </th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr >
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>已签</td>
                        </tr>
                        <tr >
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>请假</td>
                        </tr>
                        <tr >
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>未到</td>
                        </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</div>
</block>