<extend name="Base/common"/>
<block name="body">
    <div class="ar_content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="tableWrap">
                        <form action="{:U('Polls/Index/out',array('id'=>$polls['id']))}" method="post" name="form_polls" id="form_polls">

                        <table class="table table-bordered table-responsive table-condensed" style="width: 1000px;">
                            <thead>
                            <tr>
                                <th colspan="6">
                                    社情民意
                                </th>
                            </tr>
                            </thead>
                            <php>
                                $htmlstatus_polls = 1;

                                if(get_permission(get_uid(),['政协工作人员','秘书长'])){
                                    if(in_array($polls['status'],[2,3])){
                                         $htmlstatus_polls1 = 0;
                                    }
                                }


                            </php>
                            <tbody>
                            <tr>
                                <td style="width: 120px">
                                    日期
                                </td>
                                <td >
                                    {:W('Common/InputRender/InputRender',array('modelid'=>7,'name'=>'time','id'=>$polls['id'],1))}
                                </td>

                                <td class="text-right" >
                                    类别
                                </td>
                                <td>
                                    <select name="type_id" class="form-control input-sm" <if condition="$htmlstatus_polls1==1">disabled</if> >
                                        <volist name="tree" id="top">
                                            <option value="{$top.id}" <if condition="$polls['type_id']==$top['id']">selected</if> >
                                                {$top.title}
                                            </option>
                                        </volist>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    作者
                                </td>
                                <td colspan="5">
                             <if condition="$htmlstatus_polls1 == 0">




                                 <div class="col-sm-12" style="margin: 0;padding: 0;">
                                     <div class="btn btn-primary btn-sm" id="add_author" style="margin-left: 10px"> 添加作者</div>
                                     <div class="col-sm-8"  style="margin: 0;padding: 0;">
                                         <input type="text" class="form-control input-sm" id="select_id" name="people_view" readonly="readonly" value="{$polls.people_view}"/>
                                         <input type="hidden" name="people" id="s_id"/>
                                     </div>
                                 </div>
                              </if>

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    标题
                                </td>
                                <td colspan="5">
                                    {:W('Common/InputRender/InputRender',array('modelid'=>7,'name'=>'title','id'=>$polls['id'],$htmlstatus_polls1))}
                                </td>


                            </tr>
                            <tr>
                                <td>
                                    内容
                                </td>
                                <td colspan="5">
                                   <div class="pull-left">
                                       {:W('Common/InputRender/InputRender',array('modelid'=>7,'name'=>'content','id'=>$polls['id'],$htmlstatus_polls1))}
                                   </div>
                                </td>
                            </tr>

                            <tr>
                                <td>附件</td>
                                <td colspan="5">
                                    {:W('Common/InputRender/InputRender',array('modelid'=>7,'name'=>'upload','id'=>$polls['id'],1))}
                                </td>
                            </tr>
                            <if condition="get_permission(get_uid(),['委员','集体'])" >

                                    <tr>
                                        <td colspan="6">
                                            <in name="polls.status" value="6">
                                                <a class="btn btn-default btn-sm" href="{$back_url}">返回</a>
                                                <else/>
                                                <a class="btn btn-default btn-sm" href="{:U('Polls/Index/index',array('status'=>$polls['status']))}">返回</a>
                                            </in>

                                        </td>
                                    </tr>

                            </if>
                            <if condition="get_permission(get_uid(),['政协工作人员','秘书长'])" >

                                    <input type="hidden" name="status"/>

                                    <php>

                                        if(get_permission(get_uid(),['政协工作人员','秘书长'])){
                                            if(!in_array($polls['status'],[2,3])){
                                                 $htmlstatus_polls2 = 1;
                                            }
                                        }


                                    </php>
                            <tr>
                                <td>采用情况</td>
                                <td colspan="5">

                                    {:W('Common/InputRender/InputRender',array('modelid'=>7,'name'=>'adopt','id'=>$polls['id'],$htmlstatus_polls2))}

                                </td>
                            </tr>

                            <tr>
                                <td>批示情况</td>
                                <td colspan="5">
                                    {:W('Common/InputRender/InputRender',array('modelid'=>7,'name'=>'make','id'=>$polls['id'],$htmlstatus_polls2))}
                                </td>
                            </tr>

                            <tr>
                                <td colspan="6">

                                    <if condition="get_permission(get_uid(),['政协工作人员']) && $polls[status] == 2">
                                    <a class="btn btn-primary btn-sm btn-de" href="javascript:;" data-toggle="modal" data-target="#myModal3"  onclick="document.form_back.status.value=4;">退回</a>
                                    <a class="btn btn-primary btn-sm btn-del" href="javascript:;"  data-toggle="modal" data-target="#myModal1"  onclick="document.form_polls.status.value=3;" >审核通过</a>
                                        <elseif condition="get_permission(get_uid(),['秘书长']) && $polls[status] == 3"/>
                                    <a class="btn btn-primary btn-sm btn-de" href="javascript:;" data-toggle="modal" data-target="#myModal3" onclick="document.form_back.status.value=5;">二审退回</a>
                                    <a class="btn btn-primary btn-sm btn-del" href="javascript:;"  data-toggle="modal" data-target="#myModal1" onclick="document.form_polls.status.value=6;" >终审通过</a>
                                   </if>


                                    <a class="btn btn-default btn-sm" href="{:U('Polls/Index/index',array('status'=>$polls['status']))}">返回</a>

                                </td>
                            </tr>
                                    </if>

                            </tbody>
                            <!-- Small modal 通过审核-->
                            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel"><font color="red">提示</font></h4>
                                        </div>
                                        <div class="modal-body">
                                            您确定此条民意通过审核吗？
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            <a type="button" class="btn btn-primary btn-del-on" onclick="document.form_polls.submit();">确定</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Small modal 通过审核-->

                        </table>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!--   <script>
        $('#add').click(function(){
            var data = {
                'id':"{$polls.id}",
                'time' : $('input[name=time]').val(),
                'author' : $('input[name=author]').val(),
                'type' : $('input[name=type]').val(),
                'title' : $('input[name=title]').val(),
                'content' : $('textarea[name=content]').val(),
                'adopt' : $('input[name=adopt]').val(),
                'upload': $('a[name=upload]').val(),
                'make' : $('input[name=make]').val(),
                'status' : 4
            };

            $.post('<?php echo U("Index/tj");?>',data,function(msg){
               if(msg == 1 ){
                   alert('退回成功');
                   window.location.href ="{:U('Index/Index',array('status'=>2))}";
                    }else{
                   alert('退回失败');
               }
            });
        });

    </script>-->
    <script type="text/javascript">
        $(function() {
            var deldate;
            //模态关闭的回调
            $('#myModal').on('hide.bs.modal', function() {
                // 执行一些动作...
            });
            $(".btn-del").click(function(e) {
                //e.preventDefault();
                $('#myModal').modal('show');
                deldate = $(this).closest("tr");

            });
        })
    </script>
    <script type="text/javascript">
        $(function() {
            var deldate;
            //模态关闭的回调
            $('#myModall').on('hide.bs.modal', function() {
                // 执行一些动作...
            });
            $(".btn-de").click(function(e) {
                //e.preventDefault();
                $('#myModall').modal('show');
                deldate = $(this).closest("tr");

            });
        })
    </script>

    <!-- Small modal -->
    <div class="modal fade bs-example-modal-sm" id="myModal3">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color: #68d8ff;">理由！</h4>
                </div>
                <form name="form_back" action="{:U('Polls/Index/tj')}" method="post">
                    <input type="hidden" name="polls_id"  value="{$polls['id']}">
                    <input type="hidden" name="status" >
                    <div class="modal-body">
                        <textarea name="suggest" rows="3" cols="3" class="form-control"></textarea>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="document.form_back.submit(); ">确定</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>

                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!--/////////////////-->

    <!-- Modal -->
    <style type="text/css">
        .anthor_btn {
            padding: 5px 10px;
            background: #eee;
            cursor: pointer;
        }

        .anthor_btn:after {
            content: "√";
        }

        .selected_author {
            border: 1px solid #ddd;
            padding: 15px 15px 0 15px;
            min-height: 57px;
        }

        .selected_name {
            padding: 5px 10px;
            background: #0088CC;
            cursor: pointer;
            color: #fff;
            margin-right: 10px;
            margin-bottom: 10PX;
            border-bottom: 1PX SOLID #0088CC;
            float: left;
        }

        .selected_name:after {
            content: "×";
        }
    </style>
    <div class="modal fade" id="myModals" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><font color="blue">添加作者</font></h4>
                </div>
                <div class="modal-body clearfix">
                    已选择的作者：
                    <div class="selected_author clearfix">

                    </div>
                    <div class="col-sm-12 clearfix" style="padding: 5PX;padding-left: 0;margin: 0">
                        <div class="col-sm-8" style="margin: 0;padding-left: 0;"><input type="text" class="form-control input-sm" id="author" /></div><button class="btn btn-primary btn-sm" id="search">搜索</button>
                    </div>
                    <table class="table table-bordered" id="seach-table">
                        <tr>
                            <th>用户名</th>
                            <th>姓名</th>
                        </tr>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btn-sel-on" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function() {
            $("#add_author").click(function() {
                $("#myModals").modal('show')
            });
            $("#seach-table").on("click",".anthor_btn", function() {
                var authorName = $(this).text();
                var s_id = $(this).attr('data');
                var str = "<span class='selected_name' data='"+s_id+"' >" + authorName + "</span>"
                $(".selected_author").append(str)
            });
            $(".selected_author").on("click", "span", function() {
                $(this).remove()
            });
            $(".btn-sel-on").click(function() {
                var selarr = [];
                var s_id = [];
                $(".selected_author").find("span").each(function(i, e) {
                    selarr.push($(e).text());
                    s_id.push($(e).attr('data'));
                })
                $("#select_id").val(selarr)
                $("#s_id").val(s_id)


            });




            //添加
            $("#search").click(function() {


                jQuery.ajax({
                    type: "POST", // HTTP method POST or GET
                    url: "{:U('Survey/Index/search_user_ajax')}", //Where to make Ajax calls
                    dataType:"json", // Data type, HTML, json etc.
                    data:{'author':$("#author").val()}, //Form variables
                    success:function(response){
                        $("#seach-table").html('');
                        if(response.status !=0){
                            var trel ;

                            for(var i=0;i<response.content.length;i++){
                                trel += "<tr><td>"+response.content[i]['nickname']+"</td><td><span class='anthor_btn' data='"+response.content[i]['uid']+"'>"+response.content[i]['名称']+"</span></td></tr>"

                            }
                            $("#seach-table").append(trel)



                        }else{
                            alert('非法访问');
                        }
                    },
                    error:function (xhr, ajaxOptions, thrownError){
                        alert(thrownError);
                    }
                });





            })

        })








    </script>
    </block>