<extend name="Base/common"/>
<block name="body">
    <div class="ar_content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="tableWrap">
                        <label for="" class="span12 col-sm-12">
                            <input type="search" class="form-control span10" />
                            <button type="button" class="btn btn-default btn-sm">查询</button>
                        </label>
                        <table class="table table-bordered table-responsive table-condensed" style="width: 1000px;">
                            <thead>
                            <tr>
                                <th colspan="9">
                                    会议查询
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="textc">会议名称</td>
                                <td class="textc">会议类型</td>
                                <td class="textc">参会人员</td>
                                <td class="textc">应到人数</td>
                                <td class="textc">开始时间</td>
                                <td class="textc">结束时间</td>
                                <td class="textc">操作</td>
                            </tr>
                            <tr>
                                <td>
                                    wqeqeqe
                                </td>
                                <td>主席会议</td>
                                <td>？？？</td>
                                <td>23</td>
                                <td>2017/7/7</td>
                                <td>2017/7/9</td>

                                <td>
                                    <button class="btn btn-primary  btn-sm">查看</button>
                                    <button class="btn btn-default btn-sm">修改</button>
                                    <button class="btn btn-danger  btn-sm">删除</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>