<extend name="Base/common"/>

<block name="body">
    <div class="ar_content">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div id="tableWrap">
                        <form name="frme" method="post" action="{:U('History/Index/save1',array('id'=>$tw['id']))}">
                            <table class="table table-bordered table-responsive table-condensed" style="width: 1000px;">
                                <thead>
                                <tr>
                                    <th colspan="6">
                                        文史
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        日期
                                    </td>
                                    <td class="col-sm-3">
                                        <input class="form-control input-sm" type="text" name="time" value="{$tw.time}"/>
                                    </td>
                                    <td>
                                        作者
                                    </td>
                                    <td class="col-sm-3">
                                        <input type="text" class="form-control" name="uid" value="{$tw.uid}"/>
                                    </td>
                                    <td>
                                        类别
                                    </td>
                                    <td class="col-sm-3">
                                        <select name="type" class="form-control" value="{$tw.time}">
                                            <option value="新闻报告">新闻报告</option>
                                            <option value="奥运会">奥运会</option>
                                            <option value="明星绯闻">明星绯闻</option>
                                            <option value="宋吉吉">宋吉吉</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        发言或报告题目
                                    </td>
                                    <td colspan="5">
                                        <input type="text" class="form-control" name="title" value="{$tw.title}"/>
                                    </td>
                                </tr>

                                </tr>
                                <tr>

                                <tr>
                                    <td>
                                        备注
                                    </td>
                                    <td colspan="5">
                                        <textarea name="remake" rows="" cols="" class="form-control">{$tw.remake}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td>附件</td>
                                    <td colspan="5">
                                        <input type="file" name="upload" value="{$tw.opload}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        采用情况<font color="red"></font>
                                    </td>
                                    <td colspan="5">
                                        <div class="col-sm-6">
                                            <label><input type="radio" name="adopt" value="0"/>被采用</label>
                                            <label><input type="radio" name="adopt" value="1"/>退回</label>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        退回意见<font color="red"></font>
                                    </td>
                                    <td colspan="5">
                                        <textarea name="back" rows="" cols="" class="form-control">{$tw.content}</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <button class="btn btn-primary">审核通过</button>
                                        <a class="btn btn-primary" href="#" id="add">退回</a>
                                        <a class="btn btn-default" href="{:U('History/Index/index')}">返回</a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#add').click(function(){
            var data = {
                'id':"{$tw.id}",
               /* 'time' : $('input[name=time]').val(),
                'uid' : $('input[name=uid]').val(),
                'type' : $('select[name=type]').val(),
                'title' : $('input[name=title]').val(),
                'remake' : $('textarea[name=remake]').val(),
                'upload': $('input[name=upload]').val(),*/
                'back': $('textarea[name=back]').val()
            };
            $.post("<?php echo U('Index/save7');?>",data,function(msg){
                if(msg==1){
                    alert('退回成功');
                }else{
                    alert('退回失败');
                }
            });
        });
    </script>
</block>